body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.navbar-nav {
  position: absolute;
  left: 90%;
  transform: translatex(-50%);
}

.title {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}

.navbar {
  /* background-color: lightgreen; */
  background-color: rgb(87, 188, 209);
  background-image: linear-gradient(
    90deg,
    rgba(87, 188, 209, 1) 0%,
    rgba(139, 191, 218, 1) 52%,
    rgba(108, 186, 224, 1) 100%,
    rgba(180, 195, 174, 1) 100%
  );
}

.foots {
  /* background-color: lightgreen; */
  background-color: rgb(87, 188, 209);
  background-image: linear-gradient(
    90deg,
    rgba(87, 188, 209, 1) 0%,
    rgba(139, 191, 218, 1) 52%,
    rgba(108, 186, 224, 1) 100%,
    rgba(180, 195, 174, 1) 100%
  );
}

.rf {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: lighter;
  color: #5e76e0;
}

.companies {
  text-decoration: none;
}

.slide-track {
  animation: scroll animationSpeed linear infinite;
  display: flex;
  width: calc(250px * 14);
}

.cara {
  width: 100%;
}
.carousel-inner {
  width: 60%;
  max-height: 500px !important;
  margin-left: 280px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.intro {
  height: 100%;
}

.gradient-custom-1 {
  /* fallback for old browsers */
  background: #cd9cf2;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to top,
    rgba(205, 156, 242, 1),
    rgba(246, 243, 255, 1)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to top,
    rgba(205, 156, 242, 1),
    rgba(246, 243, 255, 1)
  );
}

table td,
table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
tbody td {
  font-weight: 500;
  color: #999999;
}
