body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.navbar-nav {
  position: absolute;
  left: 90%;
  transform: translatex(-50%);
}

.title {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}

.navbar {
  /* background-color: lightgreen; */
  background-color: #74ebd5;
  background-image: linear-gradient(90deg, #74ebd5 0%, #9face6 100%);
}

.foots {
  /* background-color: lightgreen; */
  background-color: #74ebd5;
  background-image: linear-gradient(90deg, #74ebd5 0%, #9face6 100%);
}

<<<<<<< HEAD

=======
.rf {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #778ceb;
}
>>>>>>> 6096f3c77a9b2b9526c6eb6dfc3e1726ef64f7a0
